<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="false">


	<filter>
	   <filter-name>filterTest1</filter-name>
	   <filter-class>com.test.filter.FilterTest1</filter-class>
	</filter>
	
	<filter-mapping>
	   <filter-name>filterTest1</filter-name>
	   <url-pattern>/index.jsp</url-pattern>
	</filter-mapping>
	
	<filter>
       <filter-name>filterTest2</filter-name>
       <filter-class>com.test.filter.FilterTest2</filter-class>
    </filter>
    
    <filter-mapping>
       <filter-name>filterTest2</filter-name>
       <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>
	
</web-app>
